{% extends "rest_framework/base.html" %}

{% block bootstrap_theme %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/cosmo/bootstrap.min.css" integrity="sha256-EH+Vs65Z0SV+Ck8NqFV4bK0dRyJkNajNxEf6mou4R7Y=" crossorigin="anonymous" />
{% endblock %}


{% block title %} SWMS - API {% endblock %}

{% block branding %}
    <span>
        <a class='navbar-brand' rel="nofollow" >
            SWMS <span class="version">1</span>
        </a>
    </span>
{% endblock %}

